In [1]:
from google.colab import files
uploaded = files.upload()

Saving final_food_delivery_dataset.csv to final_food_delivery_dataset.csv

In [6]:
df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='object')

In [10]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='object')

In [11]:
df[df['membership'] == 'Gold'] \
.groupby('city')['total_amount'] \
.sum() \
.sort_values(ascending=False)

city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: total_amount, dtype: float64

In [12]:
df.groupby('cuisine')['total_amount'] \
.mean() \
.sort_values(ascending=False)

cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020
Name: total_amount, dtype: float64

In [14]:
user_spend = df.groupby('user_id')['total_amount'].sum()
count = user_spend[user_spend > 1000].count()
count

np.int64(2544)

In [15]:
df.groupby(
    pd.cut(df['rating'], [3.0,3.5,4.0,4.5,5.0])
)['total_amount'].sum()

/tmp/ipython-input-1350351682.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(

rating
(3.0, 3.5]    1881754.57
(3.5, 4.0]    1717494.41
(4.0, 4.5]    1960326.26
(4.5, 5.0]    2197030.75
Name: total_amount, dtype: float64

In [16]:
df[df['membership'] == 'Gold'] \
.groupby('city')['total_amount'] \
.mean() \
.sort_values(ascending=False)

city
Chennai      808.459080
Hyderabad    806.421034
Bangalore    793.223756
Pune         781.162243
Name: total_amount, dtype: float64

In [17]:
df.groupby('cuisine').agg(
    restaurant_count=('restaurant_id','nunique'),
    revenue=('total_amount','sum')
).sort_values(['restaurant_count','revenue'])

         restaurant_count     revenue
cuisine
Chinese               120  1930504.65
Indian                126  1971412.58
Italian               126  2024203.80
Mexican               128  2085503.09

In [18]:
gold_percentage = (
    df[df['membership'] == 'Gold'].shape[0] / df.shape[0]
) * 100

round(gold_percentage)

50

In [21]:
df.groupby('restaurant_name_x').agg(
    orders=('order_id','count'),
    avg_order_value=('total_amount','mean')
).query("orders < 20") \
.sort_values('avg_order_value', ascending=False)

                                   orders  avg_order_value
restaurant_name_x
Hotel Dhaba Multicuisine               13      1040.222308
Sri Mess Punjabi                       12      1029.180833
Ruchi Biryani Punjabi                  16      1002.140625
Sri Delights Pure Veg                  18       989.467222
Classic Kitchen Family Restaurant      19       973.167895
...                                   ...              ...
Annapurna Tiffins Punjabi              19       621.828947
Darbar Tiffins Non-Veg                 18       596.815556
Darbar Restaurant Punjabi              14       589.972857
Spice Tiffins Pure Veg                 15       578.578667
Ruchi Mess Punjabi                     17       572.686471

[170 rows x 2 columns]

In [22]:
options = [
    "Grand Cafe Punjabi",
    "Grand Restaurant South Indian",
    "Ruchi Mess Multicuisine",
    "Ruchi Foods Chinese"
]

df.groupby('restaurant_name_x').agg(
    orders=('order_id','count'),
    avg_order_value=('total_amount','mean')
).loc[
    lambda x: (x.index.isin(options)) & (x['orders'] < 20)
].sort_values('avg_order_value', ascending=False)

                     orders  avg_order_value
restaurant_name_x
Ruchi Foods Chinese      19       686.603158

In [23]:
df.groupby(['membership','cuisine'])['total_amount'] \
.sum() \
.sort_values(ascending=False)

membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [24]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['quarter'] = df['order_date'].dt.quarter

df.groupby('quarter')['total_amount'].sum() \
.sort_values(ascending=False)

/tmp/ipython-input-1290627907.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['order_date'] = pd.to_datetime(df['order_date'])

quarter
3    2037385.10
4    2018263.66
1    2010626.64
2    1945348.72
Name: total_amount, dtype: float64

In [25]:
gold_orders_count = df[df['membership'] == 'Gold'].shape[0]
gold_orders_count

4987

In [26]:
hyderabad_revenue = df[df['city'] == 'Hyderabad']['total_amount'].sum()
round(hyderabad_revenue)

1889367

In [27]:
distinct_users = df['user_id'].nunique()
distinct_users

2883

In [28]:
gold_aov = df[df['membership'] == 'Gold']['total_amount'].mean()
round(gold_aov, 2)

np.float64(797.15)

In [29]:
high_rating_orders = df[df['rating'] >= 4.5].shape[0]
high_rating_orders

3374

In [30]:
top_city = (
    df[df['membership'] == 'Gold']
    .groupby('city')['total_amount']
    .sum()
    .idxmax()
)

top_city

'Chennai'

In [31]:
orders_in_top_city = df[
    (df['membership'] == 'Gold') &
    (df['city'] == top_city)
].shape[0]

orders_in_top_city

1337